html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

:root {
  --primary-color: #337ab7;
  --primary-color-dark: #23527c;
  --secondary-color: #f53920f8;
  --secondary-color-dark: rgba(255, 0, 0, 0.938);
  --optional-color: rgb(255, 127, 8);
  --optional-color-dark: rgb(255, 94, 0);
}

.home-container {
  flex: 1;
  padding: 20px;
  display: flex;
  min-height: 90vh;

  flex-direction: column;
  justify-content: flex-start; /* Align content to the top */
  align-items: center; /* Center content horizontally */
  margin-top: 30px;
  padding: 40px;
}
.footer {
  background-color: var(--primary-color);
  color: white;
  text-align: center;
  padding: 1rem;
  flex-shrink: 0.5;
  margin-bottom: 0;
  border-radius: 10px 10px 0 0;
  margin-top: 50px;
  min-height: 5vh;
  transition: bottom 0.3s ease;
}

.product-list {
  flex: 1 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
  box-sizing: border-box;
}
.filters-container {
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
  
}

.filter-title {
  font-size: 18px;
  margin-bottom: 10px;
}

.filter-options {
  display: flex;
  justify-content:space-between;
  margin-bottom: 10px;
  gap: 20px;
}

.filter-category,
.filter-price, .sort-products{
  flex: 1;

}

label {
  font-weight: bold;
  margin-right: 5px;
}

select {
  width: 100%;
  padding: 5px;
  border-radius: 3px;
  border: 1px solid #ccc;
}

.filter-button {
  background-color: var(--primary-color);
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}
.filter-button:hover {
  background-color: var(--primary-color-dark);
}

.filters-container {
  flex: 0 0 230px;

  box-sizing: border-box;
}

.card {
  width: 250px;
  height: 300px;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 16px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px,
    rgba(0, 0, 0, 0.05) 0px 5px 10px;
  transition: box-shadow 0.3s ease-in-out;
  margin-bottom: 16px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.card-image {
  width: 100%;
  height: 200px;
  object-fit: contain;
}

.card-body {
  margin-top: 12px;
}

.card-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 8px;
  height: 1.2em;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.card-description {
  font-size: 14px;
  flex-grow: 1;
}
.card-footer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}
.card-category {
  font-size: 14px;
  color: #888;
}

.list-group-item {
  font-size: 16px;
  padding: 4px;
  border: none;
}

.card-button {
  padding: 8px 16px;
  border-radius: 4px;
  text-decoration: none;
  transition: background-color 0.3s ease-in-out;
}

.card-button:hover {
  background-color: var(--secondary-color-dark);
}

.card-button:first-child {
  background-color: var(--primary-color);
  color: #fff;
  margin-right: 8px;
}

.cart-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 70px;
  max-width: 100vw;
  flex-wrap: wrap;
  min-height: 100vh;
}

.cart-item .card {
  display: flex;
  flex-direction: row;
  border: 1px solid #ccc;
  box-shadow: none;
  justify-content: center;
  align-items: center;
  width: 50vw;
  border-radius: 18px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  flex-wrap: wrap;
}

.cart-item .card-body {
  min-width: 48vw;
  text-align: center;
  padding: 0;
}
.cart-item .btn {
  background-color: var(--secondary-color);
  border: #ccc;
  min-width: 10vw;
  align-self: center;
}
.cart-item .btn:hover {
  background-color: var(--secondary-color-dark);
}

.cart-item .list-group {
  font-weight: bold;
}
.cart-item img {
  min-width: 300px;
  object-fit: contain;
}

.cart-item .card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.clear-cart-btn {
  padding: 5px 20px;
  background-color: var(--optional-color);
  color: #ffffff;
  border: none;

  font-size: 22px;
  margin: 10px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 14vw;
}

.clear-cart-btn:hover {
  background-color: var(--optional-color-dark);
}

.empty-cart-img{
  display: flex;
  width: 350px;
  height: 350px;
  justify-content: center;
align-items: center;
flex-direction: column;

}

.empty-cart-img img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}