html{
  height: 100%;
}
*{
  margin: 0;
  padding: 0;
 
}

body{
  display: flex;
  flex-direction: column;
  min-height: 100%;
}


footer{
 
  margin-top: auto;
  text-align: center;
}

footer p {
  color: #aaa1a1;
  background-color: black;
margin: 0;
padding: 2rem;
border-top-right-radius: 0.5rem;
border-top-left-radius: 0.5rem;
}

